main {
  text-align: center;
  width: 100%;
  height: 500px;
  margin-top: 200px;
}

span {
  font-size: 40px;
  font-family: sans-serif;
}

.green-text {
  color: #18cd1b;
}

.red-text {
  color: #f80606;
  border-bottom: solid;
}

.under-border {
  border-bottom: solid;
  color: black;
}
