#note-card {
  display: flex;
  text-align: center;
  width: 50rem;
  height: 20rem;
  background-color: grey;
}

p {
  margin: auto;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}
